<% include layouts/header.ejs %> 

<div class="container mt-4">
    <div class="card border-secondary">
        <div class="card-header">Nuevo Registro</div>
            <div class="card-body">
                <form action="/save" method="POST">
                    <div class="mb-3">
                        <label for="user" class="form-label">Usuario</label>
                        <input type="text" class="form-label" name="user" id="user" tabindex="1">
                    </div>
                    <div class="mb-3">
                        <label for="user" class="form-label">Rol</label>
                        <select class="form-select" name="rol" id="rol" aria-label="Default select exmple">
                            <option value="admin" selected>Admin</option>
                            <option value="data entry">Data Entry</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                    <a href="/" class="btn btn-secondary" tabindex="-1">Cancelar</a>
                </form>
            <div>
    </div>
</div>

<% include layouts/footer.ejs %> 